*{box-sizing:border-box}
dt{
    background:#B8c1c8;
    border-bottom:1px solid #989ea4;
    border-top:1px solid #717d85;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    line-height:24px;
    font-family:sans-serif;
    margin-top:20px;
    padding:2px 0 0 12px;
    position:sticky;
    top:-1;
}
dd{
    font-size:20px;
    font-weight:bold;
    font-family:sans-serif;
    line-height:45px;
    margin:0;
    padding-left:12px;
    white-space:nowrap;

}
dd + dd{
    
}
