body{margin:0}

.top{
    
}
.top .quickmenu{
    margin:10px 0 30px 0;
    font-size:11px;
    color:#999;
    text-align:right;
}
.top .search{
    margin-bottom:30px;
}
.top .searchbox{
    display:inline-block;
    height:40px;width:500px;box-sizing:border-box;
    border:3px solid #6b6;
    position:relative;
    top:-5px;
    line-height:34px;
    font-size:24px;
    color:#999;
    font-family:sans-serif;
    padding:0 0 0 10px;
}
.top .searchbutton{
    height:40px;width:40px;
    position:relative;
    top:4px;
}
.top h1{
    display:inline;
}
.top h1 img{
    width:150px;
}
.menu{
    
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
}
.contents{
    
    background:#ddd;

}
.centerbox{
    width:965px;
    background:#fff;
    margin:0 auto 0 auto; /*블록정렬 textalign은 텍스트임*/
}